<div class="ebook" (click)="onClickButton()">
  <div class="book">
    <div class="back"></div>
    <div class="page6"></div>
    <div class="page5"></div>
    <div class="page4"></div>
    <div class="page3"></div>
    <div class="page2"></div>
    <div class="page1"></div>
    <div class="front">
      <img [src]="imageUrl[0].split('public/')[1]" alt="" />
    </div>
  </div>
  <div class="content">
    <p class="book-name">{{ buttonName.split(".")[0] }}</p>
    <button>Xem chi tiết</button>
  </div>
</div>
