<div class="toan-dan-gian">
  <div class="toan-dan-gian-container">
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/1.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/2.png"
        alt=""
        class="left"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/3.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/4.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/5.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/6.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/7.png"
        alt=""
        class="left"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/8.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/9.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/10.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/11.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
    <div class="toan-card">
      <img
        src="images/images/tai-nguyen/toan-dan-gian/12.png"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn đê tải</button>
      </div>
    </div>
  </div>
</div>
