<div class="loading" *ngIf="isLoading"></div>
<div class="toan-dan-gian" [class.hidden]="isLoading" #toanDanGianContainer>
  <div class="loading-file" *ngIf="isLoadingFile">
    <img src="images/images/file-loading.gif" alt="" />
  </div>
  <div class="toan-dan-gian-container" [class.hidden]="isLoadingFile">
    <div
      *ngFor="let file of files"
      class="toan-dan-gian-item"
      (click)="onViewFile(file)"
    >
      <img [src]="getImgCover(file)" alt="" />
      <div class="download-content">
        <a (click)="onViewFile(file)" download target="_blank">Xem chi tiết</a>
      </div>
    </div>
  </div>
</div>

<app-xem-pdf
  *ngIf="isDisplayViewpdf"
  [pdfName]="pdfName"
  [downloadUrl]="pdfDownloadUrl"
  [bookName]="currentPath.split('//')[1]"
  (closepdf)="onCloseViewpdf($event)"
></app-xem-pdf>
