<div class="loading" *ngIf="isLoading"></div>
<div class="toan-dan-gian" [class.hidden]="isLoading" #toanDanGianContainer>
  <div class="toan-dan-gian-container">
    <app-toan-dan-gian-button
      [buttonName]="'Học hình qua thơ'"
      [navigateUrl]="'hoc-hinh-qua-tho'"
      [buttonIcon]="''"
    ></app-toan-dan-gian-button>
    <app-toan-dan-gian-button
      [buttonName]="'Thơ hay về công thức toán'"
      [navigateUrl]="'tho-hay-ve-cong-thuc-toan'"
      [buttonIcon]="''"
    ></app-toan-dan-gian-button>
    <app-toan-dan-gian-button
      [buttonName]="'Học quy tắc giải toán bằng thơ'"
      [navigateUrl]="'hoc-quy-tac-giai-toan-bang-tho'"
      [buttonIcon]="''"
    ></app-toan-dan-gian-button>
    <app-toan-dan-gian-button
      [buttonName]="'Học thuộc công thức hình học qua thơ'"
      [navigateUrl]="'hoc-thuoc-cong-thuc-hinh-hoc-qua-tho'"
      [buttonIcon]="''"
    ></app-toan-dan-gian-button>
    <app-toan-dan-gian-button
      [buttonName]="'Học phân số qua thơ'"
      [navigateUrl]="'hoc-phan-so-qua-tho'"
      [buttonIcon]="''"
    ></app-toan-dan-gian-button>
  </div>
</div>
