.toan-dan-gian {
  width: 100%;
  height: 100%;
  background-image: url("/images/images/toan-dan-gian-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.toan-dan-gian-container {
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-height: 70%;
  overflow-y: auto;
}

app-toan-dan-gian-button {
  width: 40%;
}
