.file {
  background-color: white;
  border: 5px solid black;
  padding: 10px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.file:hover {
  margin-bottom: 20px;
}

.file img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.file p {
  max-width: 200px;
  word-break: break-word;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.file:hover p {
  color: blue;
}

.file-ppt {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  gap: 20px;
  background-color: white;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s ease;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  align-items: center;
}

.file .content a {
  text-decoration: none;
  border: 3px solid #00a9ff;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #0576c8;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  font-weight: 500;
}
.file .content a:hover {
  background-color: #ff005dd3;
  border: 3px solid #e7508796;
}

.title {
  font-size: 25px;
  text-align: center;
  font-family: var(--title-font);
  max-height: 3em; /* Adjust the max height as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
