.stem {
  width: 100%;
  height: 100svh;
  background-image: url("/images/images/stem-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.stem-container {
  width: 90%;
  height: 65svh;
  overflow-y: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 10px;
  align-items: stretch;
}

app-stem-button {
  width: 30%;
  transition: 0.5s ease;
}

@media screen and (max-width: 450px) {
  .stem {
    background-position: center;
  }

  .stem-container {
    width: 100%;
    gap: 2rem;
    top: 55%;
  }

  app-stem-button {
    width: 80%;
  }
}
