.ke-hoach-bai-day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  filter: drop-shadow();
  border-radius: 15px;
  border: 3px solid black;
  cursor: pointer;
  gap: 15px;
  transition: 0.5s ease;
  text-decoration: none;
}

.ke-hoach-bai-day:hover {
  transform: scale(1.05);
}

.ke-hoach-bai-day:hover .download {
  transform: scale(1.1);
}

.ke-hoach-bai-day .download {
  width: 5rem;
  transition: 0.5s ease;
}

.ke-hoach-bai-day img {
  width: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ke-hoach-bai-day .content .book-name {
  font-family: var(--lobster-font);
  text-align: center;
  word-break: break-word;
  font-size: 1rem;
  color: #f57669;
}

.content button {
  padding: 10px 15px;
  text-align: center;
  font-size: 1rem;
  font-family: "anton";
  /* border: 6px solid white; */
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease;
  border: none;
  outline: none;
  background-color: #eef30e;
  background: linear-gradient(to left, #eef30e 50%, #5271ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.content button:hover {
  padding: 12px 17px;
  color: #eef30e;
  background-position: left bottom;
}

.default {
  color: #2c63ff;
}
