<div class="test row">
  <div class="col-8"></div>
  <div
    class="col-4 d-flex flex-row align-items-center justify-content-center g-1"
  >
    <div class="col-6">Đúng</div>
    <div class="col-6">Sai</div>
  </div>
</div>
<div class="answer-container row">
  <div class="col-8">
    <h3 class="question">{{ testData.question }}</h3>
  </div>
  <div
    class="col-4 d-flex flex-row align-items-center justify-content-center g-1"
  >
    <div class="col-6" *ngFor="let item of listAnswers">
      <input
        type="radio"
        [name]="questionKey"
        [id]="questionKey + item.key"
        [value]="item.key"
        [checked]="
          this.testData.correctAnswer.toUpperCase() == item.key.toUpperCase()
        "
      />
    </div>
  </div>
</div>
