input {
  pointer-events: none;
}

label {
  font-weight: 700;
}

.header {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
}

.col-4 {
  margin: 0;
}

.col-6 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
}

.answer-container {
  border: 1px solid black;
}
