<div class="giao-an-dien-tu">
  <p class="menu-title">
    <span class="dèault">Thư viện bài giảng điện tử</span> <br />
    {{ getTitle() }}
  </p>
  <img [src]="bookIconUrl" alt="" class="book-logo" />
  <div class="search">
    <div class="search-item">
      <img src="icons/search-icon.png" alt="" />
      <select
        id="exampleSelect"
        [(ngModel)]="selectedSemester"
        (change)="onChangeSemester()"
      >
        <option *ngFor="let option of semesterOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>

    <div class="search-item">
      <img src="icons/search-icon.png" alt="" />
      <select
        id="exampleSelect"
        [(ngModel)]="selectedWeek"
        (change)="onChangeWeek()"
      >
        <option *ngFor="let option of weekOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>
  <div class="loading-file" *ngIf="isLoadingFile">
    <img src="images/images/file-loading.gif" alt="" />
  </div>
  <div class="giao-an-dien-tu-container" [class.hidden]="isLoadingFile">
    <app-giao-an-dien-tu-button
      *ngFor="let file of files"
      [buttonName]="file.name.split('.')[0]"
      [folderPath]="folderPath"
      [urlImg]="getImgUrl(file.name)"
      [downloadUrl]="file.url"
      (viewSlide)="onViewSlide($event)"
    ></app-giao-an-dien-tu-button>
  </div>
</div>

<app-xem-slide
  *ngIf="isDisplayViewSlide"
  [slideName]="slideName"
  [downloadUrl]="slideDownloadUrl"
  (closeSlide)="onCloseViewSlide($event)"
></app-xem-slide>
