<div class="loading" *ngIf="isLoading"></div>
<div class="cac-mon-khac" [class.hidden]="isLoading" #cacMonKhacContainer>
  <p class="menu-title">
    Giáo án các môn học lớp 5 <br /><span>{{ titleName }}</span>
  </p>
  <img [src]="bookIconUrl" alt="" class="book-logo" />
  <div class="loading-file" *ngIf="isLoadingFiles">
    <img src="images/images/file-loading.gif" alt="" />
  </div>
  <div class="empty-file" *ngIf="files.length <= 0 && !isLoadingFiles">
    <img src="images/images/dang-phat-trien.png" alt="" />
    <p>SẮP RA MẮT</p>
  </div>
  <div class="cac-mon-khac-container" [class.hidden]="files.length <= 0">
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('tieng-viet-5')"
      [buttonName]="'TIẾNG VIỆT'"
      [buttonLink]="'tieng-viet-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('khoa-hoc-5')"
      [buttonName]="'KHOA HỌC'"
      [buttonLink]="'khoa-hoc-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('lich-su-dia-li-5')"
      [buttonName]="'LỊCH SỬ VÀ ĐỊA LÍ'"
      [buttonLink]="'lich-su-va-dia-li-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('dao-duc-5')"
      [buttonName]="'ĐẠO ĐỨC'"
      [buttonLink]="'dao-duc-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('cong-nghe-5')"
      [buttonName]="'CÔNG NGHỆ'"
      [buttonLink]="'cong-nghe-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('tin-hoc-5')"
      [buttonName]="'TIN HỌC'"
      [buttonLink]="'tin-hoc-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('mi-thuat-5')"
      [buttonName]="'MĨ THUẬT'"
      [buttonLink]="'mi-thuat-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('am-nhac-5')"
      [buttonName]="'ÂM NHẠC'"
      [buttonLink]="'am-nhac-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('hoat-dong-trai-nghiem-5')"
      [buttonName]="'HĐ TRẢI NGHIỆM'"
      [buttonLink]="'hoat-dong-trai-nghiem-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
    <app-cac-mon-khac-button
      *ngIf="checkExistFile('giao-duc-the-chat-5')"
      [buttonName]="'GIÁO DỤC THỂ CHẤT'"
      [buttonLink]="'giao-duc-the-chat-5'"
      [buttonIcon]="'images/images/buttons/cac-mon-khac-button-icon.gif'"
    ></app-cac-mon-khac-button>
  </div>
</div>
