.cac-mon-khac {
  width: 100%;
  height: 100svh;
  background-image: url("/images/images/menu-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.book-logo {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 7rem;
}

.cac-mon-khac-container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-height: 55svh;
  overflow-y: auto;
  gap: 3rem;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-title {
  color: yellow;
  font-family: var(--anton-font);
}

.menu-title span {
  font-family: var(--pacifico-font);
}

app-cac-mon-khac-button {
  min-width: 20%;
}

@media screen and (max-width: 950px) {
  .cac-mon-khac-container {
    top: 65%;
    width: 100%;
    gap: 2rem;
    max-height: 60svh;
  }
}

@media screen and (max-width: 450px) {
  .cac-mon-khac {
    background-position: center;
  }

  .menu-title {
    font-size: 2rem;
  }

  .book-logo {
    width: 3rem;
    right: 20px;
  }

  .cac-mon-khac-container {
    top: 60%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    max-height: 70svh;
  }

  app-cac-mon-khac-button {
    min-width: 60%;
  }
}
