<div class="phieu-bai-tap">
  <p class="menu-title">
    <span class="dèault">Ngân hàng Phiếu bài tập</span> <br />
    {{ getTitle() }}
  </p>
  <img [src]="bookIconUrl" alt="" class="book-logo" />
  <div class="search">
    <img src="icons/search-icon.png" alt="" />
    <select
      id="exampleSelect"
      [(ngModel)]="selectedSemester"
      (change)="onChangeSemester()"
    >
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div class="loading-file" *ngIf="isLoadingFiles">
    <img src="images/images/file-loading.gif" alt="" />
  </div>
  <div class="phieu-bai-tap-container" [class.hidden]="isLoadingFiles">
    <app-phieu-bai-tap-button
      *ngFor="let file of files"
      [buttonName]="file.name"
      [folderPath]="folderPath"
      [selectedSemester]="selectedSemester"
      (viewpdf)="onViewpdf($event)"
    ></app-phieu-bai-tap-button>
  </div>
</div>

<app-xem-pdf
  *ngIf="isDisplayViewpdf"
  [pdfName]="pdfName"
  [downloadUrl]="pdfDownloadUrl"
  [bookName]="folderPath.split('//')[1]"
  [selectedSemester]="selectedSemester"
  (closepdf)="onCloseViewpdf($event)"
></app-xem-pdf>
