<div class="phieu-bai-tap">
  <p class="menu-title">Ngân hàng Phiếu bài tập {{ getTitle() }}</p>
  <img [src]="bookIconUrl" alt="" class="book-logo" />
  <div class="search">
    <img src="icons/search-icon.png" alt="" />
    <select
      id="exampleSelect"
      [(ngModel)]="selectedSemester"
      (change)="onChangeSemester()"
    >
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div class="phieu-bai-tap-container">
    <app-phieu-bai-tap-button
      *ngFor="let file of files"
      [buttonName]="file.name"
      [folderPath]="folderPath"
    ></app-phieu-bai-tap-button>
  </div>
</div>
