.phieu-bai-tap {
  width: 100%;
  min-height: 100svh;
  background-image: url("/images/images/menu-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-title {
  color: yellow;
  font-family: var(--pacifico-font);
  font-size: 3rem;
}

.book-logo {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 6rem;
}

.phieu-bai-tap-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-height: 55svh;
  overflow-y: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 5rem;
}

.menu-title {
  color: yellow;
}

app-phieu-bai-tap-button {
  width: 15%;
  transition: 0.5s ease;
}

.search {
  position: absolute;
  top: 27%;
  right: 15%;
}
.search img {
  width: 3.5rem;
  position: absolute;
  right: -10%;
  top: 0%;
}

.search select {
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border: 4px solid #329af9;
  border-radius: 20px;
  color: #2c63ff;
  font-weight: 700;
  font-size: 1.5rem;
}

.default {
  font-size: 2.5rem;
}

@media screen and (max-width: 950px) {
  .default {
    font-size: 1.5rem;
  }

  .search {
    top: 27%;
  }

  .search img {
    width: 2rem;
  }

  .search select {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  .phieu-bai-tap-container {
    top: 65%;
  }

  app-phieu-bai-tap-button {
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  .phieu-bai-tap {
    background-position: center;
  }

  .search {
    top: 26%;
    right: 50%;
    transform: translateX(50%);
  }
  .search img {
    width: 2rem;
  }

  .search select {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  app-phieu-bai-tap-button {
    width: 100%;
  }

  .phieu-bai-tap-container {
    top: 65%;
    gap: 1rem;
    max-height: 65svh;
  }
}
