<div class="tai-nguyen">
  <p class="menu-title">KHO TÀI NGUYÊN</p>
  <div class="tai-nguyen-container">
    <app-book-button
      [buttonName]="'VĂN BẢN QUY ĐỊNH'"
      [routerNavigate]="'van-ban-quy-dinh'"
      [buttonIcon]="'images/images/buttons/van-ban-quy-dinh-button-icon.png'"
    ></app-book-button>
    <app-book-button
      [buttonName]="'VIDEO MINH HỌA'"
      [routerNavigate]="'video-minh-hoa'"
      [buttonIcon]="'images/images/buttons/video-minh-hoa-button-icon.png'"
    ></app-book-button>
    <app-book-button
      [buttonName]="'CÔNG CỤ HỖ TRỢ'"
      [routerNavigate]="'cong-cu-ho-tro'"
      [buttonIcon]="'images/images/buttons/cong-cu-ho-tro-button-icon.png'"
    ></app-book-button>
    <app-book-button
      [buttonName]="'STEM'"
      [routerNavigate]="'stem'"
      [buttonIcon]="'images/images/buttons/stem-button-icon.png'"
    ></app-book-button>
    <app-book-button
      [buttonName]="'PHẦN MỀM TOÁN HỌC'"
      [routerNavigate]="'phan-mem-toan-hoc'"
      [buttonIcon]="'images/images/buttons/phan-mem-toan-hoc-button-icon.png'"
    ></app-book-button>
    <app-book-button
      [buttonName]="'GAME TƯƠNG TÁC'"
      [routerNavigate]="'game-tuong-tac'"
      [buttonIcon]="'images/images/buttons/game-tuong-tac-button-icon.png'"
    ></app-book-button>
  </div>
</div>
