.cau-hoi-on-tap {
  width: 100%;
  height: 100svh;
  background: url("/images/images/detail-background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.cau-hoi-on-tap-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.menu-title {
  font-family: var(--pacifico-font);
}

app-cau-hoi-on-tap-button {
  width: 40%;
  transition: 0.5s ease;
}

.footer {
  position: absolute;
  font-size: 2rem;
  font-family: "Pacifico";
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #2c63ff;
}

@media screen and (max-width: 900px) {
  .cau-hoi-on-tap-container {
    width: 100%;
    max-height: 50svh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
    justify-content: space-evenly;
  }

  app-cau-hoi-on-tap-button {
    width: 25%;
  }
}

@media screen and (max-width: 450px) {
  .cau-hoi-on-tap {
    background-position: center;
  }

  app-cau-hoi-on-tap-button {
    width: 80%;
  }

  .cau-hoi-on-tap-container {
    width: 100%;
    max-height: 60svh;
    gap: 1rem;
  }
}
