<div class="ke-hoach-bai-day">
  <p class="menu-title">
    <span class="default">Kế hoạch bài dạy</span><br />
    {{ getTitle() }}
  </p>
  <img [src]="bookIconUrl" alt="" class="book-logo" />
  <div class="search">
    <label for="selectSemester">
      <img src="icons/search-icon.png" alt="" />
    </label>
    <select
      id="selectSemester"
      [(ngModel)]="selectedSemester"
      (change)="onChangeSemester()"
    >
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>

  <div class="loading-file" *ngIf="isLoadingFile">
    <img src="images/images/file-loading.gif" alt="" />
  </div>
  <div class="ke-hoach-bai-day-container" [class.hidden]="isLoadingFile">
    <app-ke-hoach-bai-day-button
      *ngFor="let file of files"
      [buttonName]="file.name"
      [folderPath]="folderPath"
      [selectedSemester]="selectedSemester"
      [fileDownloadUrl]="file.url"
    ></app-ke-hoach-bai-day-button>
  </div>
</div>
