<div class="e-book">
  <p class="menu-title">{{ getTitle() }}</p>
  <img [src]="bookIconUrl" alt="" class="book-logo" />
  <div class="loading-file" *ngIf="isLoadingFile">
    <img src="images/images/file-loading.gif" alt="" />
  </div>
  <div class="e-book-container" [class.hidden]="isLoadingFile">
    <app-ebook-button
      *ngFor="let file of files"
      [buttonName]="file.name"
      [folderPath]="folderPath"
      [folderDownloadUrl]="file.url"
      (viewBook)="onViewBook($event)"
    ></app-ebook-button>
  </div>
</div>

<app-flip-book
  *ngIf="isDisplayFlipBook"
  [folderPath]="currentImgPath"
  [downloadUrl]="currentDownloadUrl"
  (closeFlipBook)="onCloseFlipBook($event)"
></app-flip-book>
