.e-book {
  width: 100%;
  min-height: 100svh;
  background-image: url("/images/images/menu-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-title {
  color: yellow;
  font-family: var(--pacifico-font);
}

.book-logo {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 7rem;
}

.e-book-container {
  margin: 1rem auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  max-height: 55svh;
  overflow-y: auto;
}

.menu-title {
  color: yellow;
}

app-ebook-button {
  width: 15%;
  transition: 0.5s ease;
}

@media screen and (max-width: 950px) {
  .e-book-container {
    max-height: 70svh;
    gap: 4rem;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .e-book {
    background-position: center;
  }
  app-ebook-button {
    width: 50%;
  }

  .e-book-container {
    gap: 2rem;
    padding: 10px;
    max-height: 75svh;
    overflow-y: auto;
  }
}
