/*----------- Menu button --------------------*/
.menu-button {
  position: relative;
  opacity: 1;
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border: 6px solid white;
  border-radius: 15px;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: #fd9eab;
  background: linear-gradient(to left, #fd9eab 50%, #5271ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.menu-button img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5%;
  width: 5.8rem;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

.menu-button a {
  text-align: center;
  color: white;
  font-family: var(--anton-font);
  transition: 0.5s ease;
}

.menu-button:hover a {
  color: #eef30e;
}

.menu-button:hover {
  color: #5271ff;
  background-position: left bottom;
  transform: scale(1.1);
}

@media screen and (max-width: 950px) {
  .menu-button img {
    width: 4rem;
  }

  .menu-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .menu-button img {
    width: 4.5rem;
  }

  .menu-button {
    font-size: 1.3rem;
  }

  .menu-button a {
    margin-left: 20%;
  }
}
