<div class="slide">
  <a [href]="downloadUrl"
    ><img
      class="download-img"
      title="Tải file"
      src="icons/download-icon.png"
      alt=""
  /></a>
  <div class="slide-container">
    <div class="content">
      <img
        *ngFor="let slide of slides"
        [src]="slide.split('public/')[1]"
        alt=""
      />
    </div>
  </div>
  <div
    class="scroll-to-top"
    [ngClass]="{ show: showScrollToTop }"
    (click)="scrollToTop()"
  >
    <img
      src="icons/scroll-to-top-icon.png"
      alt="Scroll to Top"
      title="Scroll to Top"
    />
  </div>
</div>
