<div class="test">
  <h3 class="question">{{ testData.question }}</h3>

  <div class="answer-container">
    <div class="answer-box" *ngFor="let item of listAnswers">
      <input
        type="radio"
        [id]="questionKey + item.key"
        [value]="item.key"
        [name]="questionKey"
        (click)="receiveValue(item.key)"
        [checked]="this.testData.correctAnswer.toUpperCase() == item.key"
      />
      <label
        [for]="questionKey + item.key"
        [ngClass]="
          this.testData.correctAnswer.toUpperCase() == item.key
            ? 'correct-answer'
            : ''
        "
        >{{ item.value }}</label
      >
    </div>
  </div>
</div>
