<div class="loading" *ngIf="isLoading"></div>
<div class="flash-card" [class.hidden]="isLoading" #flashCardContainer>
  <div class="flash-card-container">
    <app-flash-card-button
      [buttonName]="'Phân số'"
      [buttonIcon]="''"
      [routerNavigate]="'phan-so'"
    ></app-flash-card-button>
    <app-flash-card-button
      [buttonName]="'Bảng đơn vị'"
      [buttonIcon]="''"
      [routerNavigate]="'bang-don-vi'"
    ></app-flash-card-button>
    <app-flash-card-button
      [buttonName]="'Hình học - Học hình'"
      [buttonIcon]="''"
      [routerNavigate]="'hinh-hoc-hoc-hinh'"
    ></app-flash-card-button>
    <app-flash-card-button
      [buttonName]="'Ghép hình sáng tạo'"
      [buttonIcon]="''"
      [routerNavigate]="'ghep-hinh-sang-tao'"
    ></app-flash-card-button>
    <app-flash-card-button
      [buttonName]="'Tổng hợp công thức'"
      [buttonIcon]="''"
      [routerNavigate]="'tong-hop-cong-thuc'"
    ></app-flash-card-button>
    <app-flash-card-button
      [buttonName]="'Học toán cùng nhân vật hoạt hình'"
      [buttonIcon]="''"
      [routerNavigate]="'hoc-toan-cung-nhan-vat-hoat-hinh'"
    ></app-flash-card-button>
  </div>
</div>
