.flash-card {
  width: 100%;
  height: 100%;
  background-image: url("/images/images/flash-card-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.flash-card-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-height: 65%;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: stretch;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

app-flash-card-button {
  flex: 1;
  min-width: 20%;
}

@media screen and (max-width: 900px) {
  .flash-card-container {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .flash-card {
    background-image: url("/images/images/menu-background.gif");
    background-position: center;
  }

  .flash-card-container {
    width: 100%;
    top: 50%;
  }

  app-flash-card-button {
    min-width: 80%;
  }
}
