.van-ban-quy-dinh {
  width: 100%;
  min-height: 100svh;
  background: url("/images/images/detail-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.van-ban-quy-dinh-container {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: space-around;
}

.menu-title {
  font-family: var(--pacifico-font);
}

app-van-ban-button {
  width: 40%;
  transition: 0.5s ease;
}

app-van-ban-button:hover {
  width: 40.5%;
}
