.van-ban-quy-dinh {
  width: 100%;
  min-height: 100svh;
  background-image: url("/images/images/detail-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.van-ban-quy-dinh-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: space-around;
}

.menu-title {
  font-family: var(--pacifico-font);
}

app-van-ban-button {
  width: 40%;
  transition: 0.5s ease;
}

app-van-ban-button:hover {
  width: 40.5%;
}

.footer {
  position: absolute;
  font-size: 2rem;
  font-family: "Pacifico";
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #2c63ff;
}
