/*----------- Menu button --------------------*/
.cau-hoi-on-tap-button {
  cursor: pointer;
  position: relative;
  opacity: 1;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  border: 6px solid white;
  border-radius: 15px;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.75s ease;
  background-color: #fd9eab;
  /* background: linear-gradient(to left, #fff 50%, orange 50%);
  background-size: 200% 100%;
  background-position: right bottom; */
}

.cau-hoi-on-tap-button .img-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5%;
}

.cau-hoi-on-tap-button .img-icon img {
  width: 7rem;
  transition: 0.75s ease;
}

.cau-hoi-on-tap-button .img-icon .img-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: red;
  font-family: var(--anton-font);
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

.cau-hoi-on-tap-button a {
  text-align: center;
  color: white;
  font-family: var(--lobster-font);
}
.cau-hoi-on-tap-button:hover {
  transform: scale(1.05);
  /* color: white;
  background-position: left bottom; */
}

.cau-hoi-on-tap-button:hover a {
  color: #5271ff;
}
