<div class="loading" *ngIf="isLoading"></div>
<div class="quizz" [class.hidden]="isLoading" #quizzContainer>
  <div class="quizz-container">
    <div class="quizz-card" title="Nhấn để tải">
      <img
        src="images/images/tai-nguyen/quizz/quizz hình học 1_mặt trước.jpg"
        alt=""
        class="left"
      />
      <img
        src="images/images/tai-nguyen/quizz/quizz hình học 1_mặt sau.jpg"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn để tải</button>
      </div>
    </div>
    <div class="quizz-card" title="Nhấn để tải">
      <img
        src="images/images/tai-nguyen/quizz/quizz hình học 2_mặt trước.jpg"
        alt=""
        class="left"
      />
      <img
        src="images/images/tai-nguyen/quizz/quizz hình học 2_mặt sau.jpg"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn để tải</button>
      </div>
    </div>
    <div class="quizz-card" title="Nhấn để tải">
      <img
        src="images/images/tai-nguyen/quizz/quizz hình học 3_mặt trước.jpg"
        alt=""
        class="left"
      />
      <img
        src="images/images/tai-nguyen/quizz/quizz hình học 3_mặt sau.jpg"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn để tải</button>
      </div>
    </div>
    <div class="quizz-card" title="Nhấn để tải">
      <img
        src="images/images/tai-nguyen/quizz/quizz hình học 4_mặt trước.jpg"
        alt=""
        class="left"
      />
      <img
        src="images/images/tai-nguyen/quizz/quizz hình học 4_mặt sau.jpg"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn để tải</button>
      </div>
    </div>
    <div class="quizz-card" title="Nhấn để tải">
      <img
        src="images/images/tai-nguyen/quizz/quizz số học 1_mặt trước.jpg"
        alt=""
        class="left"
      />
      <img
        src="images/images/tai-nguyen/quizz/quizz số học 1_mặt sau.jpg"
        alt=""
        class="right"
      />
      <div class="download">
        <button>Nhấn để tải</button>
      </div>
    </div>
  </div>
</div>
