.quizz {
  width: 100%;
  height: 100%;
  background-image: url("/images/images/quizz-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.quizz-container {
  width: 90%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.quizz-card {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;
  border-radius: 10px;
}

.quizz-card:hover {
  transform: scale(1.05);
}

.quizz-card:hover .download {
  opacity: 1;
  z-index: 100;
}

.quizz-card img {
  width: 50%;
}

.download {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-transparent-black);
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  border-radius: 10px;
}

.download button {
  text-decoration: none;
  border: 3px solid #00a9ff;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #0576c8;
  outline: none;
  margin-bottom: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.download button:hover {
  background-color: #00a9ff;
}
