<div class="loading" *ngIf="isLoading"></div>
<div class="quizz" [class.hidden]="isLoading" #quizzContainer>
  <div class="quizz-container">
    <div
      class="quizz-card"
      (click)="onViewSlide(file)"
      *ngFor="let file of files"
    >
      <img [src]="getCoverImage(file, 'mặt trước')" alt="" class="left" />
      <img [src]="getCoverImage(file, 'mặt sau')" alt="" class="right" />
      <div class="download">
        <button>Xem chi tiết</button>
      </div>
    </div>
  </div>
</div>

<app-xem-slide
  *ngIf="isDisplayViewSlide"
  [slideName]="slideName"
  [downloadUrl]="slideDownloadUrl"
  [bookName]="this.folderPath.split('//')[1]"
  (closeSlide)="onCloseViewSlide($event)"
></app-xem-slide>
