<div class="phan-mem-toan-hoc">
  <div class="phan-mem-toan-hoc-container">
    <div class="phan-mem">
      <img src="icons/phan-mem-toan-hoc-icon.png" alt="" />
      <div class="content">
        <p class="title">Hình thang</p>
        <button>Nhấn để tải</button>
      </div>
    </div>
    <div class="phan-mem">
      <img src="icons/phan-mem-toan-hoc-icon.png" alt="" />
      <div class="content">
        <p class="title">Diện tích hình tròn</p>
        <button>Nhấn để tải</button>
      </div>
    </div>
    <div class="phan-mem">
      <img src="icons/phan-mem-toan-hoc-icon.png" alt="" />
      <div class="content">
        <p class="title">Hình hộp chữ nhật</p>
        <button>Nhấn để tải</button>
      </div>
    </div>
  </div>
</div>
