.ket-noi-tri-thuc {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100svh;
  opacity: 1;
  transition: 1s ease;
  z-index: 10;
}

.ket-noi-tri-thuc.hidden-ket-noi-tri-thuc {
  transform: scale(0) translate(-50%, -100%);
  opacity: 0;
}

app-left-button-detail,
app-right-button-detail {
  /* flex: 0 1; */
  width: 50%;
  height: 50svh;
}

.ket-noi-tri-thuc-list-file {
  position: absolute;
  top: 0;
  padding: 50px 100px;
  width: 100%;
  min-height: 100svh;
  background: url("/images/images/decorates/background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s ease;

  transform: scale(0) translate(-50%, -100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.ket-noi-tri-thuc-list-file.appear-list-file {
  transform: scale(1) translate(0, 0);
  opacity: 1;
}

p.title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

app-list-file {
  width: 90%;
}
