.ket-noi-tri-thuc {
  width: 100%;
  height: 100svh;
  background-image: url("/images/images/menu-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.book-logo {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 7rem;
}

.menu-title {
  color: yellow;
}

.ket-noi-tri-thuc-container {
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: space-around;
}

app-book-button {
  width: 40%;
  transition: 0.5s ease;
}

@media screen and (max-width: 900px) {
  .ket-noi-tri-thuc-container {
    width: 100%;
    gap: 1rem;
  }

  .book-logo {
    width: 3rem;
    right: 20px;
  }

  app-book-button {
    width: 35%;
  }
}

@media screen and (max-width: 450px) {
  .ket-noi-tri-thuc {
    background-position: center;
  }

  .menu-title {
    font-size: 2.5rem;
  }

  .book-logo {
    width: 3rem;
    right: 20px;
  }

  .ket-noi-tri-thuc-container {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 90%;
    top: 55%;
    gap: 2rem;
  }

  app-book-button {
    width: 90%;
  }
}
