<div class="flip-book-container">
  <img
    class="back-icon"
    title="Trở về"
    src="icons/back-icon.png"
    alt=""
    (click)="onBack()"
  />

  <a (click)="downloadFile()"
    ><img
      class="download"
      title="Tải file"
      src="icons/download-icon.png"
      alt=""
  /></a>

  <div *ngIf="loading" class="loading">loading...</div>
  <div *ngIf="!loading" class="flipbook" id="flipbook">
    <div class="flip-panel">
      <ng-container *ngFor="let item of content; let i = index">
        <div class="panel" #panelRef>
          <div class="front">
            <div class="content">
              <span class="fold"></span>
              <img [src]="item.front" alt="" />
            </div>
          </div>

          <div class="back">
            <div class="content">
              <span class="fold1"></span>
              <img [src]="item.back" alt="" />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
