<div class="flip-book">
  <a [href]="downloadUrl" download target="_blank">
    <img class="download" title="Tải file" src="icons/download-icon.png" alt=""
  /></a>
  <div class="loading" *ngIf="isLoading">
    <img src="images/images/file-loading.gif" alt="" />
  </div>
  <div class="book" [class.disappear]="isLoading">
    <img
      class="left-arrow"
      src="icons/left-arrow.png"
      alt=""
      (click)="onClick(-1)"
    />
    <img
      class="right-arrow"
      src="icons/right-arrow.png"
      alt=""
      (click)="onClick(+1)"
    />
    <div id="pages" class="pages">
      <div class="page" *ngFor="let img of listImgs; let i = index">
        <img [src]="img.split('public/')[1]" alt="" />
      </div>
    </div>
  </div>
</div>
