<div class="loading" *ngIf="isLoading"></div>
<div class="canh-dieu" [class.hidden]="isLoading" #canhDieuContainer>
  <p class="menu-title">CÁNH DIỀU</p>
  <img src="images/images/canh-dieu-icon.jpg" alt="" class="book-logo" />
  <div class="canh-dieu-container">
    <app-book-button
      [buttonName]="'KẾ HOẠCH BÀI DẠY'"
      [routerNavigate]="'ke-hoach-bai-day'"
      [buttonIcon]="'images/images/buttons/ke-hoach-bai-day-button-icon.gif'"
    ></app-book-button>
    <app-book-button
      [buttonName]="'PHIẾU BÀI TẬP'"
      [routerNavigate]="'phieu-bai-tap'"
      [buttonIcon]="'images/images/buttons/phieu-bai-tap-button-icon.gif'"
    ></app-book-button>
    <app-book-button
      [buttonName]="'GIÁO ÁN ĐIỆN TỬ'"
      [routerNavigate]="'giao-an-dien-tu'"
      [buttonIcon]="'images/images/buttons/giao-an-dien-tu-button-icon.gif'"
    ></app-book-button>
    <app-book-button
      [buttonName]="'E-BOOK'"
      [routerNavigate]="'e-book'"
      [buttonIcon]="'images/images/buttons/e-book-button-icon.gif'"
    ></app-book-button>
  </div>
</div>
