<div class="canh-dieu">
  <app-background-button
    [buttonName]="'E-Book'"
    [router]="'e-book'"
  ></app-background-button>
  <app-background-button
    [buttonName]="'Kế hoạch bài dạy'"
    [router]="'ke-hoach-bai-day'"
  ></app-background-button>
  <app-background-button
    [buttonName]="'Giáo án điện tử'"
    [router]="'giao-an-dien-tu'"
  ></app-background-button>
  <app-background-button
    [buttonName]="'Phiếu bài tập'"
    [router]="'phieu-bai-tap'"
  ></app-background-button>
</div>
