<div class="video-minh-hoa">
  <div class="video-container">
    <div class="video">
      <img src="icons/video-icon.png" alt="" />
      <div class="content">
        <p class="title">Hình tam giác</p>
        <button>Xem video</button>
      </div>
    </div>
    <div class="video">
      <img src="icons/video-icon.png" alt="" />
      <div class="content">
        <p class="title">Hình chữ nhật</p>
        <button>Xem video</button>
      </div>
    </div>
    <div class="video">
      <img src="icons/video-icon.png" alt="" />
      <div class="content">
        <p class="title">Hình tròn</p>
        <button>Xem video</button>
      </div>
    </div>
    <div class="video">
      <img src="icons/video-icon.png" alt="" />
      <div class="content">
        <p class="title">Hình thang</p>
        <button>Xem video</button>
      </div>
    </div>
    <div class="video">
      <img src="icons/video-icon.png" alt="" />
      <div class="content">
        <p class="title">Hình lập phương</p>
        <button>Xem video</button>
      </div>
    </div>
  </div>
</div>
