.video-minh-hoa {
  width: 100%;
  height: 100svh;
  background: url("/images/images/video-minh-hoa-background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-height: 60svh;
  overflow-y: auto;
}

.video {
  width: 30%;
  background-color: white;
  border: 4px solid black;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}

app-video-minh-hoa-button {
  width: 18%;
  transition: 0.5s ease;
}

app-video-minh-hoa-button:hover {
  margin-bottom: 10px;
}

.video:hover .content button {
  padding: 12px 17px;
  color: #eef30e;
  background-position: left bottom;
}

.video button {
  padding: 10px 15px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "anton";
  /* border: 6px solid white; */
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease;
  border: none;
  outline: none;
  background-color: #eef30e;
  background: linear-gradient(to left, #eef30e 50%, #5271ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.video button:hover {
  padding: 12px 17px;
  color: #eef30e;
  background-position: left bottom;
}

.title {
  color: #5271ff;
  font-size: 1.5rem;
  font-family: var(--pacifico-font);
}
