.home-button {
  align-items: center;
  cursor: pointer;
}

.home-button img {
  width: 12rem;
  position: absolute;
  left: -15%;
  top: -60%;
  z-index: 10;
}

.home-button button {
  padding: 0 10px;
  font-size: var(--title-size);
  font-weight: bold;
  width: calc(100vw / 4.5);
  text-align: center;
  border: 10px solid #ff8d64;
  border-radius: 30px;
  font-family: var(--title-font);
  background: #fff;
  color: #ff8d64;
  /* Old browsers */
  background: linear-gradient(to left, #fff 50%, #ff8d64 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.75s ease;
}

.home-button:hover .button {
  background-position: left bottom;
  color: #f9ead3;
  border-color: #f9ead3;
}

@media screen and (max-width: 900px) {
  .home-button img {
    width: 120px;
  }
  .home-button button {
    font-size: 25px;
    width: 150px;
    border: 7px solid;
  }
}

@media screen and (max-width: 500px) {
  .home-button img {
    width: 110px;
  }
}
