.home-button {
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.home-button img {
  width: 12rem;
  position: absolute;
  left: -15%;
  top: -60%;
  z-index: 10;
}

.home-button button {
  padding: 0 10px;
  font-size: var(--title-size);
  font-weight: bold;
  width: calc(100vw / 4.5);
  text-align: center;
  border: 10px solid #ff8d64;
  border-radius: 30px;
  font-family: var(--title-font);
  background: #fff;
  color: #ff8d64;
  /* Old browsers */
  background: linear-gradient(to left, #fff 50%, #ff8d64 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.75s ease;
}

.home-button:hover .button {
  background-position: left bottom;
  color: #f9ead3;
  border-color: #f9ead3;
}

.home-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 950px) {
  .home-button img {
    width: 6rem;
    left: -25%;
    top: -30%;
  }
  .home-button button {
    font-size: 1.5rem;
    width: 150px;
    border: 6px solid;
  }
}

@media screen and (max-width: 500px) {
  .home-button img {
    width: 10rem;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(15%, -55%);
  }

  .home-button button {
    font-size: 2rem;
    padding: 0.5rem 3rem;
    width: 100%;
  }
}
