/*----------- Menu button --------------------*/
.giao-an-dien-tu-cac-mon-khac-button {
  width: 100%;
  position: relative;
  opacity: 1;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px 40px 40px 5px;
  padding: 15px;
  text-align: center;
  color: #5271ff;
  font-family: var(--anton-font);
  margin-left: 10%;
  background-color: yellow;
  cursor: pointer;
  color: #e9353f;
  transition: 0.5s ease;
  border: 4px solid black;
}

.giao-an-dien-tu-cac-mon-khac-button:hover {
  transform: scale(1.05);
}

.giao-an-dien-tu-cac-mon-khac-button:hover button {
  color: yellow;
}

.content {
  width: 90%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.content button {
  border: none;
  background-color: #0361ff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1rem;
  transition: 0.5s ease;
}
p {
  margin: 0;
  width: 100%;
  word-break: break-word;
}

.giao-an-dien-tu-cac-mon-khac-button img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25%;
  width: 7rem;
  transition: 0.75s ease;
}
