a {
  text-decoration: none;
}
.stem-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s ease;
  width: 100%;
}

.stem-button:hover {
  transform: scale(1.05);
}

.stem-button:hover .right {
  transform: rotateY(180deg);
}

.stem-button button {
  word-break: break-word;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: var(--lobster-font);
  transition: 0.75s ease;
  border: 5px solid #5271ff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: #5271ff;
  background-color: #eef30e;
  background: linear-gradient(to left, #eef30e 50%, #5271ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  width: 100%;
  min-height: 12svh;
}
.stem-button button p {
  width: 70%;
  margin: 0 auto;
}

.stem-button button:hover {
  /* width: 550px; */
  color: #eef30e;
  border: 6px solid #eef30e;
  background-position: left bottom;
}

.left,
.right {
  position: absolute;
  transition: 0.5s ease;
}
.left {
  width: 6rem;
  left: -5%;
}
.right {
  width: 3rem;
  right: 5%;
}
