.ban-can-biet {
  width: 100%;
  height: 100%;
  background-image: url("/images/images/ban-can-biet-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.ban-can-biet-container {
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 65svh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.ban-can-biet-item {
  width: 15%;
  height: 50%;
  position: relative;
}

.ban-can-biet-item img {
  width: 100%;
  transition: 0.75s ease;
}

.ban-can-biet-item:hover img {
  transform: rotateY(180deg);
}

.ban-can-biet-item a {
  cursor: pointer;
}

.download-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-transparent-black);
  transition: 0.5s ease;
  opacity: 0;
  cursor: pointer;
  border-radius: 15px;
}

.download-content:hover {
  opacity: 1;
}
.download-content:hover .content-title {
  top: 20%;
}
.download-content:hover button {
  bottom: 15%;
}

.content-title {
  font-family: var(--lobster-font);
  color: white;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  width: 90%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.75s ease;
}

.download-content button {
  text-decoration: none;
  border: 3px solid #00a9ff;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  background-color: #0576c8;
  outline: none;
  margin-bottom: 10px;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  transition: 0.75s ease;
  font-size: 0.8rem;
}

@media screen and (max-width: 950px) {
  .ban-can-biet-container {
    width: 100%;
    gap: 2rem;
  }

  .content-title {
    font-size: 0.8rem;
  }

  .download-content a {
    font-size: 0.5rem;
    padding: 5px;
  }

  .download-content:hover button {
    bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .ban-can-biet {
    background-position: center;
    background-image: url("/images/images/menu-background.gif");
  }

  .ban-can-biet-container {
    top: 50%;
  }

  .ban-can-biet-item {
    width: 40%;
  }

  .download-content a {
    font-size: 0.5rem;
  }

  .download-content:hover button {
    bottom: 15%;
  }
}
