<div class="loading" *ngIf="isLoading"></div>
<div class="ban-can-biet" [class.hidden]="isLoading" #banCanBietContainer>
  <div class="ban-can-biet-container">
    <div class="ban-can-biet-item" *ngFor="let file of files">
      <img [src]="getCoverUrl(file.name)" alt="" />
      <a (click)="onViewFile(file)"
        ><div class="download-content">
          <p class="content-title">{{ file.name.split(".")[0] }}</p>
          <button>Xem chi tiết</button>
        </div></a
      >
    </div>
  </div>
</div>

<app-xem-slide
  *ngIf="isDisplayViewSlide"
  [slideName]="slideName"
  [downloadUrl]="slideDownloadUrl"
  [bookName]="'tai-nguyen/cong-cu-ho-tro/ban-can-biet'"
  (closeSlide)="onCloseViewSlide($event)"
></app-xem-slide>
