<div class="container" style="display: flex">
  <div class="list-file">
    <h2>File Manager</h2>
    <!-- <input type="file" (change)="onFileSelected($event)" /> -->
    <button (click)="onUploadFile()">Thêm file</button>
    <button (click)="listFiles()">List Files</button>
    <ul>
      <li *ngFor="let file of files">
        <a [href]="file.url" download target="_blank"
          ><img
            style="width: 20px; height: 25px"
            src="icons/download.png"
            alt="download"
        /></a>
        <img
          style="width: 20px; height: 25px"
          [src]="getFileType(file.name)"
          alt="file type"
        />

        <span (click)="viewFile(file.name)">{{ file.name.split(".")[0] }}</span>
      </li>
    </ul>
  </div>
</div>
<div class="flipbook" id="flipbook">
  <div class="flip-panel">
    <ng-container *ngFor="let item of content; let i = index">
      <div class="panel" #panelRef>
        <div class="front">
          <div class="content">
            <span class="fold"></span>
            <img [src]="item.front" alt="" />
          </div>
        </div>

        <div class="back">
          <div class="content">
            <span class="fold1"></span>
            <img [src]="item.back" alt="" />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
