.flash-card-item {
  position: relative;
  width: 100%;
  height: 100svh;
  background-image: url("/images/images/detail-background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.flash-card-item-container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 60svh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.flash-card {
  width: 20%;
  position: relative;
  border-radius: 15px;
}

.flash-card img {
  width: 100%;
  transition: 0.75s ease;
  border-radius: 15px;
}

.flash-card:hover img {
  transform: rotateY(180deg);
}

.flash-card:hover .download-content a {
  top: 50%;
}

.download-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-transparent-black);
  transition: 0.5s ease;
  opacity: 0;
  border-radius: 15px;
}

.download-content:hover {
  opacity: 1;
}

.download-content a {
  text-decoration: none;
  border: 3px solid #00a9ff;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #0576c8;
  outline: none;
  margin-bottom: 10px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  transition: 0.75s ease;
  font-size: 0.8rem;
  cursor: pointer;
}
