.upload-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(201, 200, 200);
}
