<div class="loading" *ngIf="isLoading"></div>
<div class="cong-cu-ho-tro" [class.hidden]="isLoading" #congCuHoTroContainer>
  <p class="menu-title">CÔNG CỤ HỖ TRỢ</p>
  <div class="cong-cu-ho-tro-container">
    <app-cong-cu-button
      [buttonName]="'Flashcard'"
      [routerNavigate]="'flash-card'"
      [buttonIcon]="'images/images/buttons/flash-card-button-icon.png'"
    ></app-cong-cu-button
    ><app-cong-cu-button
      [buttonName]="'Ngân hàng slide đẹp'"
      [routerNavigate]="'slide'"
      [buttonIcon]="'images/images/buttons/slide-button-icon.png'"
    ></app-cong-cu-button
    ><app-cong-cu-button
      [buttonName]="'Quizz - Câu đố IQ'"
      [routerNavigate]="'quizz'"
      [buttonIcon]="'images/images/buttons/quizz-button-icon.png'"
    ></app-cong-cu-button
    ><app-cong-cu-button
      [buttonName]="'Toán dân gian'"
      [routerNavigate]="'toan-dan-gian'"
      [buttonIcon]="'images/images/buttons/toan-dan-gian-button-icon.png'"
    ></app-cong-cu-button
    ><app-cong-cu-button
      [buttonName]="'Bạn cần biết'"
      [routerNavigate]="'ban-can-biet'"
      [buttonIcon]="'images/images/buttons/ban-can-biet-button-icon.png'"
    ></app-cong-cu-button>
  </div>
</div>
