<div class="slide">
  <div class="slide-container">
    <!-- <div class="slide-item">
      <img src="icons/ppt.png" alt="" />
      <div class="content">
        <p class="title">Hình tam giác</p>
        <button>Xem chi tiết</button>
      </div>
    </div> -->

    <app-slide-button
      *ngFor="let file of files"
      [buttonName]="file.name"
      [downloadUrl]="file.url"
      (viewSlide)="onViewSlide($event)"
    ></app-slide-button>
  </div>
</div>

<app-xem-slide
  *ngIf="isDisplayViewSlide"
  [slideName]="slideName"
  [downloadUrl]="slideDownloadUrl"
  (closeSlide)="onCloseViewSlide($event)"
></app-xem-slide>
