/*----------- Menu button --------------------*/
.cong-cu-ho-tro-button {
  position: relative;
  opacity: 1;
  /* width: 520px; */
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  /* border: 6px solid white; */
  border-radius: 15px;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.75s ease;
  border: 6px solid #5271ff;
  background-color: #eef30e;
  background: linear-gradient(to left, #eef30e 50%, #5271ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

a {
  text-decoration: none;
}

.cong-cu-ho-tro-button img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -8%;
  width: 6.5rem;
  transition: 0.75s ease;
}

.cong-cu-ho-tro-button a {
  text-align: center;
  color: #5271ff;
  font-family: var(--anton-font);
  margin-left: 5%;
}
.cong-cu-ho-tro-button:hover {
  /* width: 550px; */
  color: #eef30e;
  border: 6px solid #eef30e;
  background-position: left bottom;
  transform: scale(1.1);
}

.cong-cu-ho-tro-button:hover a {
  color: #eef30e;
}

@media screen and (max-width: 900px) {
  .cong-cu-ho-tro-button {
    font-size: 1rem;
    padding: 10px;
  }

  .cong-cu-ho-tro-button img {
    width: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .cong-cu-ho-tro-button img {
    width: 3.5rem;
  }
}
