@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Calistoga&family=Kablammo&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Praise&family=Tilt+Prism&family=Twinkle+Star&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Black+Ops+One&family=Calistoga&family=Kablammo&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Praise&family=Single+Day&family=Tilt+Prism&family=Twinkle+Star&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhai+2:wght@400;500&family=Black+Ops+One&family=Calistoga&family=Kablammo&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Praise&family=Single+Day&family=Tilt+Prism&family=Twinkle+Star&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Calistoga&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Tilt+Prism&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --title: "Kablammo";
  --text: "Twinkle Star";
  --title-size: 3vw;
  --title-font: "Pattaya";
  --black-ops-one-font: "Black Ops One", system-ui;
  --anton-font: "Anton", sans-serif;
  --lobster-font: "Lobster", sans-serif;
  --tilt-prism-font: "Tilt Prism", sans-serif;
  --pacifico-font: "Pacifico", cursive;
}
/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  border: none;
}

.title {
  color: white;
  font-size: var(--title-size);
  font-weight: bold;
  text-align: center;
  font-family: var(--title-font);
}

/*-----------Menu button --------------------*/
.menu-title {
  font-size: 5rem;
  font-family: var(--black-ops-one-font);
  color: white;
  padding-top: 8rem;
  text-align: center;
}

/*-----------Back button --------------------*/
.back-icon {
  position: fixed;

  width: 50px;
  cursor: pointer;
  transition: 0.5s ease;
  top: 50px;
  left: 100px;
}

.back-icon:hover {
  width: 55px;
  transition: 0.5s ease;
}
/*-----------End Back button --------------------*/

/*-----------Scrollbar --------------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
/*-----------End Scrollbar --------------------*/
