@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Calistoga&family=Kablammo&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Praise&family=Tilt+Prism&family=Twinkle+Star&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Black+Ops+One&family=Calistoga&family=Kablammo&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Praise&family=Single+Day&family=Tilt+Prism&family=Twinkle+Star&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhai+2:wght@400;500&family=Black+Ops+One&family=Calistoga&family=Kablammo&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Praise&family=Single+Day&family=Tilt+Prism&family=Twinkle+Star&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Calistoga&family=Lobster&family=Mea+Culpa&family=Pacifico&family=Pattaya&family=Tilt+Prism&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --title: "Kablammo";
  --text: "Twinkle Star";
  --title-size: 2vw;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --background-transparent-black: rgba(0, 0, 0, 0.8);
  --title-font: "Pattaya";
  --black-ops-one-font: "Black Ops One", system-ui;
  --anton-font: "Anton", sans-serif;
  --lobster-font: "Lobster", sans-serif;
  --tilt-prism-font: "Tilt Prism", sans-serif;
  --pacifico-font: "Pacifico", cursive;
}
/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  border: none;
}

.title {
  color: white;
  font-size: var(--title-size);
  font-weight: bold;
  text-align: center;
  font-family: var(--title-font);
}

/*-----------Menu button --------------------*/
.menu-title {
  font-size: 2.7rem;
  font-family: var(--black-ops-one-font);
  color: white;
  padding-top: 7.5rem;
  text-align: center;
}

/*-----------Back button --------------------*/
.back-icon {
  position: fixed;

  width: 2.4rem;
  cursor: pointer;
  transition: 0.5s ease;
  top: 50px;
  left: 100px;
}

.back-icon:hover {
  transform: scale(1.2);
}
/*-----------End Back button --------------------*/

/*-----------Scrollbar --------------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
/*-----------End Scrollbar --------------------*/

/*-----------Loading --------------------*/
.loading {
  width: 100%;
  height: 100svh;
  background-image: url("/images/images/loading.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  display: none !important;
}
/*-----------End Loading --------------------*/

/*-----------check answer button --------------------*/
.check {
  margin: 2rem;
}

.check button {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Calistoga";
  border-radius: 10px;
  background-color: #e19246;
  cursor: pointer;
  border: 4px solid white;
  color: white;
  transition: 0.5s ease;
}

.check button:hover {
  background-color: #f17c0c;
  transform: scale(1.1);
}
/*-----------End check answer button --------------------*/

/*-----------Loading file --------------------*/
.loading-file {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15%;
  height: 20svh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  z-index: 500;
}

.loading-file img {
  width: 100%;
  height: auto;
}
/*-----------End Loading file --------------------*/

html {
  scroll-behavior: smooth;
}

.empty-file {
  position: absolute;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.empty-file img {
  width: 100%;
  border-radius: 10px;
}

.empty-file p {
  font-size: 2rem;
  color: white;
  font-family: var(--pacifico-font);
}

@media screen and (max-width: 900px) {
  .back-icon {
    width: 2rem;
    left: 60px;
  }

  .menu-title {
    font-size: 2rem;
    padding-top: 3.5rem;
  }

  .loading-file {
    top: 55%;
  }

  .empty-file {
    top: 65%;
  }

  .empty-file p {
    font-size: 1rem;
  }

  .book-logo {
    width: 3.5rem !important;
  }
}

@media screen and (max-width: 450px) {
  .empty-file {
    width: 90%;
  }

  .loading-file {
    width: 80%;
  }

  .book-logo {
    width: 3rem !important;
    right: 20px !important;
  }

  .menu-title {
    font-size: 2rem;
    padding-top: 7rem !important;
  }
}
