<div class="list-file">
  <div class="search-form">
    <select id="selectBox" [(ngModel)]="selectedSemester">
      <option *ngFor="let semester of semesters" [value]="semester.value">
        {{ semester.viewValue }}
      </option>
    </select>
    <select id="selectBox" [(ngModel)]="selectedWeek">
      <option *ngFor="let week of weeks" [value]="week.value">
        {{ week.viewValue }}
      </option>
    </select>
    <img class="book-icon" [src]="bookIcon" alt="" />
  </div>

  <div class="book-shelf" *ngFor="let line of bookshelfLines">
    <div class="book-shelf-line" *ngFor="let file of line">
      <app-file-display
        [fileName]="file.name?.split('.')[0]"
        [currentPath]="folderPath"
        [imageDownloadUrl]="file.url"
        [fileImage]="getFileImage(file.name)"
      ></app-file-display>
    </div>
  </div>
</div>
