<div class="list-file">
  <!-- <ul>
    <li *ngFor="let file of files">
      <a [href]="file.url" download target="_blank"
        ><img
          style="width: 20px; height: 25px"
          src="icons/download.png"
          alt="download"
      /></a>
      <img
        style="width: 20px; height: 25px"
        [src]="getFileType(file.name)"
        alt="file type"
      />


    </li>
  </ul> -->

  <div class="book-shelf" *ngFor="let line of bookshelfLines">
    <div class="book-shelf-line" *ngFor="let file of line">
      <app-file-display
        [fileName]="file.name?.split('.')[0]"
        [currentPath]="folderPath"
        [imageDownloadUrl]="file.url"
        [fileImage]="getFileImage(file.name)"
      ></app-file-display>
    </div>
  </div>
</div>
