.menu {
  width: 5px;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.75s ease;
}

.menu:hover {
  width: 450px;
}

.menu:hover .menu-button {
  opacity: 1;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-button {
  opacity: 0;
  margin: 40px 0;
  width: 300px;
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border: 10px solid orangered;
  border-radius: 15px;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.75s ease;
  background: linear-gradient(to left, #fff 50%, orange 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.menu-button:hover {
  padding: 20px 30px;
  color: white;
  background-position: left bottom;
}
