.menu-icon,
.menu-home {
  position: absolute;

  width: 2rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.menu-icon {
  top: 50px;
  left: 20px;
}

.menu-home {
  top: 50px;
  right: 20px;
}

.menu-icon:hover,
.menu-home:hover {
  transform: scale(1.2);
}

.menu {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.75s ease;
  background-color: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.768);
}

.menu.hidden {
  width: 0px;
}

.menu.hidden .menu-button {
  opacity: 0;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  width: 90%;
  padding: 20px;
}

app-side-menu-button {
  width: 90%;
  transition: 0.5s ease;
}

@media screen and (max-width: 450px) {
  .menu {
    width: 100%;
  }
}
