<img
  class="menu-icon"
  [src]="menuIconPath"
  title="Menu"
  (click)="onClickMenuICon()"
/>

<img
  [class.hidden]="!displayMenu"
  class="menu-home"
  src="icons/home-icon.png"
  alt=""
  (click)="onClickHomeIcon()"
/>
<div [class.hidden]="!displayMenu" class="menu">
  <div class="menu-container">
    <app-side-menu-button
      [buttonName]="'TÀI NGUYÊN'"
      [routerNavigate]="'tai-nguyen'"
      [buttonIcon]="'images/images/buttons/tai-nguyen-button-icon.png'"
      (clickButton)="onClickMenuICon()"
    ></app-side-menu-button>
    <app-side-menu-button
      [buttonName]="'CHÂN TRỜI SÁNG TẠO'"
      [routerNavigate]="'chan-troi-sang-tao'"
      [buttonIcon]="'images/images/buttons/chan-troi-sang-tao-button-icon.png'"
      (clickButton)="onClickMenuICon()"
    ></app-side-menu-button>
    <app-side-menu-button
      [buttonName]="'CÁNH DIỀU'"
      [routerNavigate]="'canh-dieu'"
      [buttonIcon]="'images/images/buttons/canh-dieu-button-icon.png'"
      (clickButton)="onClickMenuICon()"
    ></app-side-menu-button>
    <app-side-menu-button
      [buttonName]="'KẾT NỐI TRI THỨC'"
      [routerNavigate]="'ket-noi-tri-thuc'"
      [buttonIcon]="'images/images/buttons/ket-noi-tri-thuc-button-icon.png'"
      (clickButton)="onClickMenuICon()"
    ></app-side-menu-button>
  </div>
</div>
