<div [class.disappear]="disappearHomeImg" class="home">
  <div class="home-title">HỌC VUI = VUI HỌC</div>
  <div class="start" (click)="onDisappear()">
    <span class="math">MATH</span> <span class="class">CLASS</span>
  </div>
</div>
<div [class.appear]="appearMenu" class="menu">
  <div class="menu-title">VUI HỌC TOÁN 5</div>
  <div class="menu-container">
    <app-menu-button
      [buttonName]="'TÀI NGUYÊN'"
      [routerNavigate]="'tai-nguyen'"
      [buttonIcon]="'images/images/buttons/tai-nguyen-button-icon.png'"
    ></app-menu-button>
    <app-menu-button
      [buttonName]="'CHÂN TRỜI SÁNG TẠO'"
      [routerNavigate]="'chan-troi-sang-tao'"
      [buttonIcon]="'images/images/buttons/chan-troi-sang-tao-button-icon.png'"
    ></app-menu-button>
    <app-menu-button
      [buttonName]="'CÁNH DIỀU'"
      [routerNavigate]="'canh-dieu'"
      [buttonIcon]="'images/images/buttons/canh-dieu-button-icon.png'"
    ></app-menu-button>
    <app-menu-button
      [buttonName]="'KẾT NỐI TRI THỨC'"
      [routerNavigate]="'ket-noi-tri-thuc'"
      [buttonIcon]="'images/images/buttons/ket-noi-tri-thuc-button-icon.png'"
    ></app-menu-button>
  </div>
</div>
