.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/images/images/home_pic.gif");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease;
  z-index: 10;
}

.home-title {
  font-size: 7rem;
  font-family: var(--black-ops-one-font);
  color: white;
  padding-top: 10rem;
  text-align: center;
}

.disappear {
  opacity: 0;
  z-index: 0;
}

.menu {
  width: 100%;
  height: 100vh;
  background: url("/images/images/menu-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease;
  opacity: 0;
  z-index: 0;
}

.appear {
  opacity: 1;
  z-index: 10;
}

/*home-button*/
.start {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  background: url("/images/images/buttons/home-go-to-button-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  /* border: 15px solid orangered; */
  border-radius: 80px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 1s ease;
  display: flex;
  gap: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.start span {
  font-weight: 700;
  transition: 1s ease;
}

.start .math {
  color: #2692d2;
}

.start .class {
  color: #039961;
}

.start:hover {
  background: url("/images/images/buttons/home-go-to-button-background-gradient-left-to-right.png");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 6%;
}

.start:hover span {
  color: white;
}

/* menu */
.menu-container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: space-around;
}

app-menu-button {
  width: 40%;
  transition: 0.5s ease;
}

app-menu-button:hover {
  margin-bottom: 10px;
}
