<div [class.disappear]="disappearHomeImg" class="home">
  <button class="start" (click)="onDisappear()">Bắt đầu</button>
</div>
<div [class.appear]="appearMenu" class="menu">
  <div class="menu-container">
    <div class="menu-button">
      <a routerLink="van-ban">Văn bản</a>
    </div>
    <div class="menu-button">
      <a routerLink="canh-dieu">Cánh diều</a>
    </div>
    <div class="menu-button">
      <a routerLink="chan-troi-sang-tao">Chân trời sáng tạo</a>
    </div>
    <div class="menu-button">
      <a routerLink="ket-noi-tri-thuc">Kết nối tri thức</a>
    </div>
    <div class="menu-button">
      <a routerLink="tai-nguyen">Tài nguyên</a>
    </div>
  </div>
</div>
