<div>
  <h2>File Manager</h2>
  <!-- <input type="file" (change)="onFileSelected($event)" /> -->
  <button (click)="onUploadFile()">Thêm file</button>
  <button (click)="listFiles()">List Files</button>
  <ul>
    <li *ngFor="let file of files">
      <a [href]="file.url" download
        ><img
          style="width: 20px; height: 25px"
          src="icons/download.png"
          alt="download"
      /></a>
      <img
        style="width: 20px; height: 25px"
        [src]="getFileType(file.name)"
        alt="file type"
      />

      <span>{{ file.name.split(".")[0] }}</span>
    </li>
  </ul>
</div>

<app-file-upload *ngIf="isUploadFile"></app-file-upload>
