.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/images/images/home_pic.gif");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease;
  z-index: 10;
}

.home-title {
  font-size: 7rem;
  font-family: var(--black-ops-one-font);
  color: white;
  padding-top: 10rem;
  text-align: center;
}

.disappear {
  opacity: 0;
  z-index: 0;
}

.menu {
  width: 100%;
  height: 100vh;
  background-image: url("/images/images/menu-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease;
  opacity: 0;
  z-index: 0;
}

.appear {
  opacity: 1;
  z-index: 10;
}

/*home-button*/
home-button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0);
}

.start:hover {
  background-image: url("/images/images/buttons/home-go-to-button-background-gradient-left-to-right.png");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 6%;
}

.start:hover span {
  color: white;
}

/* menu */
.menu-container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: space-around;
}

app-menu-button {
  width: 40%;
  transition: 0.5s ease;
}
