.background {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: grey;
  transition: background-color 0.5s ease-in-out;
  pointer-events: none;
}

.background:hover {
  background-color: red;
}

/* Apply styles to child element */
.background .menu-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}
